@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
    padding: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: #141414;
}

/*--------------------------------------------------HEADER------------------------------------------------*/

header {
    /* background: linear-gradient(rgb(0, 0, 0) 5% ,#141414); */
    /* width: 640px;
    margin: 0 auto; */
    width: 100%;
}


.principal-icon {
    padding: 0 0 0 50px;
    width: 111px;
}

.position {
    background: linear-gradient(rgb(0, 0, 0) 5% ,#141414);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
}



.position li {
    display: inline;
    padding: 0 10px;
    color: #b3b3b3;
}

.position a {
    color: rgba(255, 255, 255, 0.767);
    transition: 0.5s;
    text-decoration: none;
}

.position a:hover {
    color: rgba(255, 255, 255, 0.432);
}



/*--------------------------------------------------MAIN------------------------------------------------*/




main {
    background-color:  #141414;
    margin: 90px 0 0 0;
}



.title-apresenta {
    color:  #dce4e4;
    margin: 0 0 0;
}

main li {
    display: inline-block;
}

main h2, p {
    text-align: center;
}

.list-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-box figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    transition: .3s all;
}

.list-box figcaption:hover {
    opacity: 1;
    z-index: 2;
}

.list-box img:hover {
    opacity: 0.5;
    z-index: 1;
}

li {
    width: 280px;
    height: 150px;
}


.img-padrao {
    width: 280px;
    height: 150px;
    padding: 0 3px 0 3px;
    border-radius: 8px;
}





/*--------------------------------------------------FRONT-END AVANÇADO PRA ESTUDAR DEPOIS  ------------------------------------------------*/



.movie {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    transition: .3s all;
}

.movie:hover figcaption {
    opacity: 1;
    z-index: 2;
}

.movie:hover img {
    opacity: 0.5;
    z-index: 1;
}




/* .moviee {
    position: relative;
  

} */



/* .movie figcaption {
    opacity: 1px;
    backdrop-filter: blur(5px);
}

.movie figcaption:hover {
    opacity: 0.5px;

} */




/* 
tr {
    position: absolute;
    top: 0;
    left: 700px;
}

td img {
    border: 1px solid black;
    border-radius: 8px;
    width: 90px;
    margin:  0 10px;
    transition: 2s;
}

td p {
    margin: 10px 10px 0 80px;
}

td {
    transition: 1s;
}

td:hover {
    border: 1px solid rgb(153, 21, 131);
} */